@import "../Index.scss";
.planBoxone,
.planBoxtwo,
.planBoxthree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  border: 2px solid $color_1;
  min-width: 280px;
  border-radius: 24px;
  overflow: hidden;
  background-color: $color_6;
  font-family: $font_3;
  color: $color_7;
  position: relative;
  z-index: 10;
  transition: 0.3s ease transform;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  //     width: 100%;
  //     height: 100%;
  //   }
  &:hover {
    cursor: pointer;
    transform: scale(1.03) translateY(-7px);
    transition: 0.3s ease transform;
    box-shadow: 0 4px 8px 4px $color_1_t;
  }
  .card_plan_name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
    background-color: $color_1;
    font-family: $font_1;
  }
  .card_month_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 15px;
    width: 100%;
  }
  .card_properties_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    .card_property_box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding-left: 40px;
      .check_icon {
        color: $color_9;
      }
      h4 {
        padding: 10px 12px;
        font-family: $font_1;
      }
    }
  }
  .card_price_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    h4 {
      color: $color_4_t;
      text-decoration: line-through;
    }
    p {
      color: $color_4_t;
    }
  }
}
.planBoxtwo {
  border: 2px solid $color_5;
  &:hover {
    box-shadow: 0 4px 8px 4px $color_5_t;
  }
  .card_plan_name {
    background-color: $color_5;
  }
}
.planBoxthree {
  border: 2px solid $color_8;
  &:hover {
    box-shadow: 0 4px 8px 4px $color_8_t;
  }
  .card_plan_name {
    background-color: $color_8;
  }
}
