$font_1: "Lexend Deca", sans-serif;
$font_2: "Roboto", sans-serif;
$font_3: "Cabin", sans-serif;

//Colors
$color_1: #4e54c8;
$color_1_t: #4e54c88a;
$color_2: #8f94fb;
$color_2_t: #8f94fb8a;
$color_3: #4e4376;
$color_3_t: #4e43768a;
$color_4: #333333;
$color_4_t: #3333338a;
$color_5: #8e2de2;
$color_5_t: #8e2de28a;
$color_6: #d5d8d8;
$color_6_t: #d5d8d88a;
$color_7: #1f1c2c;
$color_7_t: #1f1c2c8a;
$color_8: #ffc837;
$color_8_t: #ffc8378a;
$color_9: #1fa2ff;
$color_9_t: #1fa2ff8a;
/////////////@at-root
$transition_def: 0.3s ease all;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color_1: #4e54c8;
  --color_1_t: #4e54c88a;
  --color_2: #8f94fb;
  --color_2_t: #8f94fb8a;
  --color_3: #4e4376;
  --color_3_t: #4e43768a;
  --color_4: #333333;
  --color_4_t: #3333338a;
  --color_5: #8e2de2;
  --color_5_t: #8e2de28a;
  --color_6: #fefede;
  --color_6_t: #fefede8a;
  --color_7: #1f1c2c;
  --color_7_t: #1f1c2c8a;
}
//COLORS PATTERNS
$font_1: "Lexend Deca", sans-serif;
$font_2: "Roboto", sans-serif;
//Colors
$color_1: #4e54c8;
$color_1_t: #4e54c88a;
$color_2: #8f94fb;
$color_2_t: #8f94fb8a;
$color_3: #4e4376;
$color_3_t: #4e43768a;
$color_4: #333333;
$color_4_t: #3333338a;
$color_5: #8e2de2;
$color_5_t: #8e2de28a;
$color_6: #d5d8d8;
$color_6_t: #d5d8d88a;
$color_7: #1f1c2c;
$color_7_t: #1f1c2c8a;
$color_8: #ffc837;
$color_8_1: #ffc8378a;
$color_9: #1fa2ff;
$color_9_1: #1fa2ff8a;
/////////////@at-root
$transition_def: 0.3s ease all;

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  background-color: $color_6;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: $color_1;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 0;
  background-color: $color_1_t;
}
//STEEL GRAY
$sample_1_1: #1f1c2c;
$sample_1_2: #928dab;

//MIRAGE
$sample_2_1: #16222a;
$sample_2_2: #3a6073;

//JUICY ORANGE
$sample_3_1: #ff8008;
$sample_3_2: #ffc837;

//MOJITO
$sample_4_1: #1d976c;
$sample_4_2: #93f9b9;

//CHERRY
$sample_5_1: #eb3349;
$sample_5_2: #f45c43;

//PINKY
$sample_6_1: #dd5e89;
$sample_6_2: #f7bb97;

//SEE WEED
$sample_7_1: #4cb8c4;
$sample_7_2: #3cd3ad;

//STRIPE
$sample_8_1: #1fa2ff;
$sample_8_2: #12d8fa;
$sample_8_3: #a6ffcb;

//PURPLE PARADISE
$sample_9_1: #1d2b64;
$sample_9_2: #f8cdda;

//SUNRISE
$sample_10_1: #ff512f;
$sample_10_2: #f09819;

//AQUA MARINE
$sample_11_1: #1a2980;
$sample_11_2: #26d0ce;

//AUBERGINE
$sample_12_1: #aa076b;
$sample_12_2: #61045f;

//BLOODY MARY
$sample_13_1: #ff512f;
$sample_13_2: #dd2476;

//MANGO PULP
$sample_14_1: #f09819;
$sample_14_2: #edde5d;

//FROZEN
$sample_15_1: #403b4a;
$sample_15_2: #e7e9bb;

//ROSE WATER
$sample_16_1: #e55d87;
$sample_16_2: #5fc3e4;

//HORIZON
$sample_17_1: #003973;
$sample_17_2: #e5e5be;

//LEMON TWIST
$sample_18_1: #3ca55c;
$sample_18_2: #b5ac49;

//EMERALD WATER
$sample_19_1: #348f50;
$sample_19_2: #56b4d3;

//INTUITIVE PURPLE
$sample_20_1: #da22ff;
$sample_20_2: #9733ee;

//GREEN BEACH
$sample_21_1: #02aab0;
$sample_21_2: #00cdac;

//PLAYING WITH REDS
$sample_22_1: #d31027;
$sample_22_2: #ea384d;

//HARMONIC ENERGY
$sample_23_1: #16a085;
$sample_23_2: #f4d03f;

//COOL BROWN
$sample_24_1: #603813;
$sample_24_2: #b29f94;

//YOUTUBE
$sample_25_1: #e52d27;
$sample_25_2: #b31217;

//HAZEL
$sample_26_1: #b31217;
$sample_26_2: #79cbca;
$sample_26_3: #e684ae;

//NIMVELO
$sample_27_1: #314755;
$sample_27_2: #26a0da;

//SEA BLUE
$sample_28_1: #2b5876;
$sample_28_2: #4e4376;

//BLOOKER20
$sample_29_1: #e65c00;
$sample_29_2: #f9d423;

//SEXY BLUE
$sample_30_1: #2193b0;
$sample_30_2: #6dd5ed;

//PURPLE LOVE
$sample_31_1: #cc2b5e;
$sample_31_2: #753a88;

//DIMIGO
$sample_32_1: #ec008c;
$sample_32_2: #fc6767;

//SKYLINE
$sample_33_1: #1488cc;
$sample_33_2: #2b32b2;

//SEL
$sample_34_1: #00467f;
$sample_34_2: #a5cc82;

//SKY
$sample_35_1: #076585;
$sample_35_2: #fff;

//ROYAL BLUE + PETROL
$sample_36_1: #bbd2c5;
$sample_36_2: #536976;
$sample_36_3: #292e49;

//WINDY
$sample_37_1: #acb6e5;
$sample_37_2: #86fde8;

//REA
$sample_38_1: #ffe000;
$sample_38_2: #799f0c;

//BUPE
$sample_39_1: #00416a;
$sample_39_2: #e4e5e6;

//MANGO
$sample_40_1: #ffe259;
$sample_40_2: #ffa751;

//REAQUA
$sample_41_1: #799f0c;
$sample_42_2: #acbb78;

//LUNADA
$sample_42_1: #5433ff;
$sample_42_2: #20bdff;
$sample_42_3: #a5fecb;

//BLUELAGGO
$sample_43_1: #0052d4;
$sample_43_2: #4364f7;
$sample_43_3: #a5fecb;

//MEGATRON
$sample_44_1: #c6ffdd;
$sample_44_2: #fbd786;
$sample_44_3: #f7797d;

//MOONLIT ASTEROID
$sample_45_1: #0f2027;
$sample_45_2: #203a43;
$sample_45_3: #f7797d;

//JSHINE
$sample_46_1: #12c2e9;
$sample_46_2: #c471ed;
$sample_46_3: #f7797d;

//COOL SKY
$sample_47_1: #2980b9;
$sample_47_2: #6dd5fa;
$sample_47_3: #ffffff;

//YODA
$sample_48_1: #ff0099;
$sample_48_2: #493240;

//AMIN
$sample_49_1: #8e2de2;
$sample_49_2: #4a00e0;

//HARVEY
$sample_50_1: #1f4037;
$sample_50_2: #99f2c8;

//NEUROMANCER
$sample_51_1: #f953c6;
$sample_51_2: #b91d73;

//WITCHING HOUR
$sample_52_1: #c31432;
$sample_52_2: #240b36;

//FLARE
$sample_53_1: #f12711;
$sample_53_2: #f5af19;

//BURNING ORANGE
$sample_54_1: #ff416c;
$sample_54_2: #ff4b2b;

//SUMMER DOG
$sample_55_1: #a8ff78;
$sample_55_2: #78ffd6;

//SIN CITY RED
$sample_56_1: #ed213a;
$sample_56_2: #93291e;

//VANUSA
$sample_57_1: #da4453;
$sample_57_2: #89216b;

//SLIGHT OCEAN VIEW
$sample_58_1: #a8c0ff;
$sample_58_2: #3f2b96;

//PURE LUST
$sample_59_1: #333333;
$sample_59_2: #dd1818;

//MOON PURPLE
$sample_60_1: #4e54c8;
$sample_60_2: #8f94fb;

//SHIFTER
$sample_61_1: #bc4e9c;
$sample_61_2: #f80759;

//QUEPAL
$sample_62_1: #11998e;
$sample_62_2: #38ef7d;

//SUBU
$sample_62_1: #0cebeb;
$sample_62_2: #20e3b2;
$sample_62_3: #29ffc6;
